@font-face {
    font-family: FONT;
    src: url(./assets/Poppins-Regular.ttf);
}

@font-face {
    font-family: Boldfont;
    src: url(./assets/Oswald-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: FONT;
    background-color: rgb(200, 204, 208);
}

#nav {
    min-height: 15vh;
    width: 100%;
    padding: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 1.5vw;
    width: 11%;

}

.logo img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

#nav .links {
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

.links h4 {
    font-weight: 200;
    cursor: pointer;
}

.links i {
    font-size: 1.5vw;
}

#centertext {
    min-height: 10vh;
    width: 100%;
    /* background-color: aqua; */
}

#centertext .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vw;
    /* line-height: 3.5vw; */
}

.text span {
    font-size: 2vw;
    font-weight: 200;
}

.text h3 {
    font-size: 3vw;
}

#carsection {
    height: 62vh;
    width: 100%;
    padding: 2vw 1vw;
    /* background-color: aquamarine; */
    position: relative;
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backtext {
    /* background-color: red; */
    height: 25vw;
    width: 90%;
    position: absolute;

}

.backtext img {
    height: 100%;
    width: 100%;
    padding-top: 3vw;
    position: absolute;
    opacity: 0.3;
    z-index: 1;
}

.carlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    width: 100%;
}

.carlogo #img1 {
    height: 38%;
    width: 96%;
    position: absolute;
    z-index: 4;
    margin-top: 8vw;
    /* display: none; */
}

#img2 {

    height: 70vw;
    width: 70%;
    margin-top: 9vw;
    display: none;
    position: absolute;
    z-index: 2;
}

#img3 {
    height: 180%;
    width: 70%;
    position: absolute;
    margin-top: 8vw;
    z-index: 2;
    display: none;
}



.footer {
    height: 80vh;
    width: 100%;
}

#menu {
    display: none;
}

@media (max-width:600px) {
    #nav {
        min-height: 15vh;
        width: 100%;
        padding: 0 4vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        height: 7vw;
        width: 40%;

    }

    .logo img {
        height: 100%;
        width: 100%;
        /* object-fit: cover; */
    }

    .links {
        display: flex;
        align-items: center;
    }

    .links h4 {
        display: none;
    }

    .links i {
        font-size: 7vw;
    }


    /* NAV RESPONSIVE END */

    #centertext {
        min-height: 19vh;
        width: 100%;
        /* background-color: aqua; */
        margin-top: 20vw;
    }

    #centertext .text {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .text span {
        font-size: 5vw;
        font-weight: 200;
    }

    .text h3 {
        font-size: 9vw;
    }

    /* TEXT CENTER END */


    #carsection {
        height: 50vh;
        width: 100%;
        padding: 2vw 1vw;
        /* background-color: aquamarine; */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -9%;
    }

    .backtext {
        /* background-color: red; */
        height: 33vw;
        width: 96%;
        position: absolute;

    }

    .backtext img {
        height: 100%;
        width: 100%;
        padding-top: 3vw;
        position: absolute;
        opacity: 0.3;
        z-index: 1;
    }

    .carlogo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vw;
        width: 60%;
    }

    .carlogo img {
        height: 40%;
        width: 100%;
        position: absolute;
        z-index: 4;
        margin-top: 8vw;
    }


    /* CAR SECTION END */

    #menu {
        display: block;
        /* background-color: rgba(0, 0, 0, 0.068); */
        height: 43vw;
        width: 35vw;
        position: fixed;
        top: 10%;
        right: -40%;
    }

    .manulinks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .manulinks h4 {
        margin-top: 2vw;
        /* background-color: antiquewhite; */
        padding: 1.5vw;
        border-radius: 1rem;
        border: 1px solid black;
    }


}